<link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/icon/favicon-16x16.png">
<link rel="manifest" href="/img/icon/site.webmanifest">
<link rel="mask-icon" href="/img/icon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta property="og:title" content="Hanne Oberman, MSc (hanneoberman.github.io)"/>
<meta property="og:description" content="Hi, I'm Hanne! A statistician interested in data visualization, interdisciplinarity, and open science."/>
<meta property="og:url" content="https://hanneoberman.github.io/"/>
<meta property="og:image" content="/img/og.jpg"/>